@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: IBM Plex Mono, monospace;
}
.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.content {
  padding-top: 10px;
  transform: translate3d(calc(50% + 40px), 0, 0);
  text-align: left;
  background: #202035;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}

.content::before {
  content: "";
  position: absolute;
  top: 25px;
  left: -40px;
  height: 1px;
  width: 40px;
  background: black;
}

.welcome {
  transition: background-color 1s ease;
}

.welcome div * {
  transition: left 0.1s ease;
  text-align: center;
}

.dot {
  height: 5rem;
  width: 5rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  z-index: 2;
}

.mask {
  height: 5rem;
  width: 30rem;
  display: inline-block;
  z-index: 1;
  margin-left: 2.5rem;
}
